<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World-Beyond-Facts</title>
</head>
<body>
    <h2>Edit your Fact: </h2>
    <br>
    <form method="POST" action="/facts/<%= fact._id%>?_method=PUT">
        <label for="fact">Fact: </label>
        <textarea  name="fact" id="fact" rows="2" cols="40"><%= fact.fact%></textarea>
        <br><br>
        <label for="category">Category: </label>
        <input type="text" value="<%= fact.category%>" name="category" id="category">
        <br><br>
        <label for="source">Source: </label>
        <input type="text" value="<%= fact.source%>" name="source" id="source">
        <br><br>
        <label for="data">Discovered data: </label>
        <textarea  name="data" rows="3" cols="30" id="data"><%= fact.data_discovered%></textarea>
        <br><br>
        <label for="image">Img_link: </label>
        <input type="text" id="image" name="image" value="<%= fact.image%>">
        <br><br>
        <label for="verified">Is the fact was verified: </label>
        <input type="text" id="verified" name="verified" value="<%= fact.is_verified%>">
        <br><br>
        <label for="addedBy">Name of Knowledge Hunter: </label>
        <input type="text" id="addedBy" value="<%=fact.added_by%>" name="addedBy">
        <br><br>
        <!-- <lable for="created">Date of discovery: </lable>
        <input type="date" id="create" name="created">
        <br><br> -->
        <lable for="updated">Updated at: </lable>
        <input type="date" id="updated" name="updated">
        <br><br>
        <button>EditKaro babu</button>
    </form>
</body>
</html>