<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facts details</title>
</head>
<body>
    <h2>Fact details: </h2>
    <br>
    <ul>
        <li><b>Fact: </b><%= fact.fact%></li>
        <li><b>Category: </b><%= fact.category%></li>
        <li><b>Source: </b><%= fact.source %></li>
        <li><b>Discovered data: </b><%= fact.data_discovered%></li>
        <li><b>Verified: </b><%= fact.is_verified%></li>
        <li><b>Discover by: </b><%= fact.added_by%></li>
        <li><b>Discover at: </b><%= fact.created_at%></li>
        <li><b>Updated at: </b><%= fact.updated_at%></li>
    </ul>
    <br>
    <form method="GET" action="/facts/edit/<%=fact._id%>">
        <button>Edit</button>
    </form>
    <form method="POST" action="/facts/delete/<%=fact._id%>?_method=Delete">
        <button>Delete</button>
    </form>
</body>
</html>