
<% layout("/layout/boilerPlate.ejs")%>


<body>
    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h3>Fact details </h3>
        </div>
        <br>
            <div class="card col-6 offset-3 mt-1 show-card fact-card">
                <img src="<%= fact.related_img%>" class="card-img-top show_img" alt="fact_show_img">
                <p><i>User: <%= fact.owner.username%></i></p>
                <div class="card-body">
                    <p class="card-text">
                        <b>Fact: </b><%= fact.fact%><br>
                        <b>Category: </b><%= fact.category%> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <b>Source: </b><%= fact.source %><br>
                        <b>Discovered data: </b><%= fact.data_discovered%><br>
                        <b>Verified: </b><%= fact.is_verified != null ? fact.is_verified : "Not Specified" %></br>
                        <b>Discover by: </b><%= fact.added_by ? fact.added_by : "No Record Found"%></br>
                        <b>Discover at: </b><%= fact.created_at ? fact.created_at.toString().split(" ").slice(0, 4).join("-") : new Date(Date.now()).toString().split(" ").slice(0, 4).join("-")%></br>
                        <b>Updated at: </b><%=fact.updated_at ? fact.updated_at.toString().split(" ").slice(0, 4).join("-") : "Further Modification Not Done Yet"%></br>
                    </p>
                </div>
            </div>
            <%if(currUser && currUser._id.equals(fact.owner._id)){%>
            <div class="show-btns mb-2">
                <div class="col-md-1 offset-3">
                    <form method="GET" action="/facts/edit/<%=fact._id%>">
                        <button class="btn btn-primary">Edit</button>
                    </form>
                </div>

                <div class="col-md-2">
                    <form method="POST" action="/facts/<%=fact._id%>?_method=Delete">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <%}%>
        
        <div class="col-8 offset-3 mt-2 mb-5">
            <%if(currUser){%>
                <form method="POST" action="/facts/<%=fact._id%>/reviews" class="needs-validation" novalidate>
                    <hr>
                    <h2>Leave a comment: </h2>
                    <div class="mb-3 mt-3">
                        <label for="review[rating]" class="form-label">Ratings :</label>
                        <fieldset class="starability-growRotate">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>

                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment :</label>
                        <textarea type="text" id="comment" name="review[comment]" class="form-control" rows="5" cols="30" required></textarea>
                        <div class="invalid-feedback">Enter a valid comment</div>
                    </div>
                    
                    <button class="btn btn-outline-success">Submit</button>
                </form>
            <%}%>
            <hr>
            <div class="row">

            <h1>All Reviews</h1>

            <%for(review of fact.reviews) {%>
                <div class="card col-5 ms-3 mb-3 mt-3" >
                    <div class="card-body">
                        <p class="card-title"><i>@<%=review.author.username%></i></p>
                        <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                        <p class="card-text"><%=review.comment%></p>
                    </div>

                    <div class="mt-2 mb-3">
                    <%if(currUser && currUser._id.equals(review.author._id)){%>
                        <form method="POST" action="/facts/<%=fact._id%>/reviews/<%=review._id%>?_method=Delete">
                            <button class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    <%}%>
                    </div>
                </div>
            <%}%>
            </div>
        </div>
    
    </div>
</body>